.hero-image{
    margin-top: 6rem;
    width: 100%;
    height: 40rem; 
    object-fit: cover;
}

.button{
    color: #61dafb;
    background-color: transparent;
    border: none;
}


.section{
    background-color: rgb(39, 39, 39);
    padding: 1rem;
}

.home-container{
    margin: 6rem auto;
    max-width: 70rem; 
    padding: 0 1rem;

    display: flex; 
    flex-flow: column nowrap; 
    row-gap: 2rem;
}
    
.hero-section{
    flex: 1 1 100%;
    text-align: center;
}

.hero-button{
    margin: 3rem 0;
}

.primary-button{
    background-color: darkgoldenrod;
    color: black;
    padding: .5rem 3rem;
    border: none;
}

.featured-section{
    flex: 1 1 100%;
    display: flex; 
    flex-flow: column nowrap; 
    align-items: center;
    row-gap: 3rem;
}

.featured-cards-grid{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

h2{
    text-align: center;
}


