.main-container{
    display: flex;
    flex-flow: column nowrap;
}

.card-container{
    background-image: linear-gradient(140deg, cyan 0 , rgb(25, 173, 173) 40%, rgb(149, 255, 255) 50%,  rgb(0, 131, 131) 60%);
    min-width: 70rem;
    margin: auto;
    padding: 1rem;


    flex-flow: row wrap; 
    justify-content:center;
    gap: 1rem; 
}

