.filter{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: rgba(72, 19, 115, 0.8);
    padding: 1rem; 
}