.card-container{
    display: flex;
    flex-flow: row wrap; 
    width:30rem;
    gap: 1rem; 
    padding: 1rem;
    background-color:bisque;
    justify-content: center;
    margin: auto;
}

.user-card{
    background-color:cadetblue;
    padding: 1rem; 
    width: auto; 
    height: 10rem; 
}

.user-card img{
    width: 100%; 
    height: 7rem;
    object-fit: cover;
    object-position: center;
}

.user-card > *{
    margin: 0;
}