.checkout-container{
    display: flex; 
    column-gap: 5rem;
    height: 100vh;
    max-width: 80rem;
    padding: 1rem; 
    margin: 8rem auto;
}

.section{
    background-color: rgb(39, 39, 39);
    padding: 2rem;
}


.summary-section{
    flex: 1 1 100%;
}

.payment-section{
    flex: 1 1 100%;
}

.pay-button{
    font-weight: bold;
}

/* cartas obtenidas del local storage */

.chosen-cards-container{
    display: flex; 
    flex-flow: column nowrap;
    row-gap: 2rem;
}

.card-data{
    display: flex;
    align-items:center;
    column-gap: 3rem;
}

.card-quantity{
    margin: 2rem 0;
    
    display: flex; 
    column-gap: 1rem;
    align-items: center;
}

.add-remove-button{
    background-color: rgb(138, 16, 65);
    border: none; 
    border-radius: .1rem;
    padding: 1rem;
}

.card-in-cart{
    width:10rem;
    height:auto;
}