a{
    text-decoration: none;
    color: rgb(21, 41, 99);
    font-weight: bold;
}

.card{
    display: flex;
    flex-flow: column nowrap; 
    padding: 1rem; 
    background-color: royalblue;
    justify-content: space-evenly;
    width: 18rem;
    height: fit-content;
    row-gap: 1rem;
    font-family: sans-serif;
}

.card-name{
    text-align: center;
    font-weight: bold;
}

.card-img{
    width: 12rem;
    height: auto;
    align-self: center;
}


.price-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold; 
}

.card-number{
    display: flex; 
    column-gap: 1rem;
}

.add-to-cart-btn{
    padding: 0.5rem 3rem;
    margin: auto;
}